
a,
  .purple {
  color: purple; 
}
.orange{
  color:orange;
}
.uppercase{
  text-transform: uppercase;
}

.italics{
  font-style: italic; 
} 
#resume{
  font-family: Arial; 
} 

.center{
  text-align:center;
}
.orangeB{
  background-color: orange;
}
.purpleB{
  background-color:purple; 
}
.big{
  font-size:55px;
}
.tillman{
  background-image:url(/images/tillman.jpeg);
  
 light{
   font-weight:5;
  }
