
.uppercase{
  text-transform: uppercase;
}

.italics{
  font-style: italic; 
} 
#resume{
  font-family: Arial; 
} 

.center{
  text-align:center;
}

.header{
  font-size:55px;
  font-weight:1000;
  font-family: "Garamond";
}
  
  .border{
    border: 2px solid black; 
  }

  .lnk{
    font-size:20;
  }

  .ground{
  background-image: url('https://cdn.pixabay.com/photo/2016/06/20/13/44/paper-1468883_960_720.jpg');
  background-position: center top;
  background-size: cover;
  }
  .heground{
    background-color: #AFA;
  }

  .docBord{
    border: 5px solid #AFA; 
  }