
a,
  .purple {
  color: purple; 
}
.orange{
  color:orange;
}
.uppercase{
  text-transform: uppercase;
}

.italics{
  font-style: italic; 
} 
#resume{
  font-family: Arial; 
} 

.center{
  text-align:center;
}
.orangeB{
  background-color: orange;
}
.purpleB{
  background-color:purple; 
}
.header{
  font-size:55px;
  font-weight:1000;
  font-family: "Apple Chancery";
  
}
.tillman{
  background-image:url(/images/tillman.jpeg);
  height: 700px;
  border: medium inset blue;
  font-weight: lighter;
  
  .links{
    font-size:30; 
  }
.jank{
  font-family:"comic sans";
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /
  }
  h1{
    background: grey;
    border: 1px solid black;
  }
